@charset "UTF-8";

/* 게시판 목록 페이지 스타일 */
section {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin: 40px 0;
  color: #e67e22;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

th {
  padding: 10px;
  background-color: #e67e22;
  color: #fff;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

td a {
  color: #3498db;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

input[type="submit"] {
  background-color: #e67e22;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #d35400;
}
